{% extends 'invoice_app/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="fw-bold text-center text-success mb-4">
    {% if title %} {{ title }} {% else %} Add / Edit Product {% endif %}
  </h2>

  <form method="post" class="card shadow p-4">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="id_name" class="form-label fw-semibold">Product Name</label>
        {{ form.name }}

      </div>
      <div class="col-md-6 mb-3">
        <label for="id_price" class="form-label fw-semibold">Price (₹)</label>
        {{ form.price}}
      </div>
    </div>
    <div class="mb-3">
        <label for="id_description" class="form-label fw-semibold">Description</label>
        {{ form.description }}
    </div>


    <div class="text-end">
      <button type="submit" class="btn btn-success">
        <i class="bi bi-check-circle"></i> Save
      </button>
      <a href="{% url 'product_list' %}" class="btn btn-secondary ms-2">
        <i class="bi bi-x-circle"></i> Cancel
      </a>
    </div>
  </form>
</div>
{% endblock %}
